<div id="<%= dom_id medium %>">
  <p>
    <strong>Image path:</strong>
    <%= medium.image_path %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= medium.title %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= medium.score %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= medium.media_type %>
  </p>

  <p>
    <strong>Progress:</strong>
    <%= medium.progress %>
  </p>

</div>
